<h1>Hello from AWS</h1>

<p>This site is hosted on EC2, using Nginx over Rails on Unicorn, deployed with Capistrano.</p>

<p>
Deployment steps...
<ul>
<li>git add .</li>
<li>git commit</li>
<li>git push</li>
<li>cap staging deploy</li>
</ul>
(deployment occurs without an outage from using a HUP signal to master unicorn,
see <a href="http://unicorn.bogomips.org/SIGNALS.html">more here</a>)
</p>

<p>You can find the site source <a href="https://github.com/bsalis/demo_app">here on github</a>.</p>

<p>
<b>About this ec2...</b>
<pre><%= @about %></pre>
</p>
